<div>
    <%= flash[:notice] %>
</div>

<p><storng>Title:</storng><%= @book.title %></p>
<p><storng>Body:</storng><%= @book.body %></p>
<p><%= link_to "Edit",edit_book_path(@book.id) %></p>
<p><%= link_to "Back","/books" %></p>